body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

/*          COLORES GENERALES           */
.negro{
    color: black;
}

.azul-claro{
    background-color: aqua !important;
}

.rojo-test-1{
    background-color: red !important;
}

.blanco{
    color: white;
}

/*      LOGIN        */

.caja-principal{
    border: orange solid 2px;
    margin-left: 30%;
    width: 75%;
}

.seccion-1{
    border: red 2px solid;
    width: 100%;
}

.header-titulo{
    background-color: gray;
    height: 10%;
    width: 35%;
    margin-left: 33%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
}

.header-titulo h1{
    text-align: center;
    color: white;
}

.formulario{
    background-image: url('../img/madera.jpeg');
    border: 2px yellow solid;
    border-radius: 50px;
    height: 22%;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 80px
}

.subformulario-1{
    border: black solid 2px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.subformulario-2{
    border: black solid 2px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.formulario label{
    color: white;
    font-weight: 800;
}

.formulario input{
    border-radius: 30px;
    background-color: rgb(54, 54, 235);
}

.footer-login{
    border: 2px solid rgb(255, 47, 203);
    height: 20%;
    margin-top: 100px;
}

.boton-login{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.boton-login button{
    font-size: 20px;
    background-color: blue;
    border: none;
    padding: 20px 35px;
    border-radius: 50px;
    cursor: pointer;
}

.caja-boton-login{
    background-color: blue;
    border-radius: 50px;
    margin-top: 50px;
}

.boton-crear-usuario{
    border: solid 1px red;
    display: flex;
    justify-content: center;
}

.caja-crear-usuario{
    color: red;
    font-weight: 600;
    margin-top: 20px;
}

.caja-crear-usuario button{
    background-color: red;
    border: red;
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-weight: 800;
    margin-left: 10px;
}

.error {
    color: red;
    font-size: 0.9em;
    font-weight: 800;
    text-align: center;
    display: none;
}

/*      INDEX        */

.container {
    /*Divides la pantalla para que tus 2 contenedores estén uno al lado del otro
    usando display:flex*/
    display: flex;
    width: 100%;
}

.sidebar {
    background-image: url('../img/madera.jpeg');
    color: white;
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
     /*te aseguras de que el ancho definido para la barra lateral incluya todo el padding y
    el border, manteniendo el diseño consistente y
    evitando que la barra lateral sea más ancha de lo esperado
    */
}

.profile {
    border: 1px green solid;
    display: flex;
    width: 100%;
    /*
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;
    */
    }

.marco-avatar{
    border: 1px solid blue;
}

.avatar {
    background-color: #ccc;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.nombre-avatar p {
    text-align: center;
    font-weight: 800;
}
/*
.home{
    background-image: url('../img/home.png');
    height: 50px;
    width: 50px;
    color: black;
}
*/
.info{
    width: 100%;
    text-align: center;
}

.info p{
    font-weight: 800;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px 0;
    cursor: pointer;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-weight: 800;
}

.alineado{
    display: flex;
    justify-content: center;

}
.espacio-icono{
    margin-right: 5px;
}


nav ul li.active, nav ul li:hover {
    background-color: #FFA500;
}
nav ul >a{
    text-decoration: none;
}

/*          CONTENIDO PRINCIPAL         */

.main-content {
    background-image: url('../img/pizarron.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.padre-header{
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    text-align: center;
    position: relative;
    width: 80%;
    background-color: grey;
    margin-bottom: 20px;
    border-radius: 50px;
}

.header-caja1{
    border: 1px green solid;
    width: 20%;
    position: absolute;
    left: -100px;
    top: -5px;
}

.canica{
    border-radius: 80px;
}

.header-caja2{
    border: 1px purple solid;
    width: 100%;
}

.canica{
    position: absolute;
    border: 1px black solid;
}

/*      */



/*
h2{
    text-align: center;
    border: 1px solid red;
    width: 100%;
}
*/

.scoreboard {
    border: #FFA500 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
    height: 540px;
}

.score {
    background-color: #fff;
    width: 35%;
    height: 115px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    border: purple 1px solid;
    margin-top: 30px;
    margin-bottom: 30px;
}

.score h3 {
    margin-top: 0;
}

.padre-header-test1{
    display: flex;
    justify-content:flex-start
}

.header-test1 {
    display: flex;
    text-align: center;
    position: relative;
    width: 30%;
    background-color: grey;
    margin-bottom: 20px;
    border-radius: 50px;
}

.score-test1 a{
    text-decoration: none;
}

.scoreboard-test1 {
    border: #FFA500 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 540px;
}

.score-test1 {
    background-color: #fff;
    width: 22%;
    height: 115px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    border: purple 1px solid;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test1-titulo{
    font-size: 40px;
    border:black 2px solid;
    padding: 30px 60px;
}

.test1-titulo {
    text-decoration: none;
    color: black;
}

/* TEST 1  */

.padre-scoreboard-test-1{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #4caf50 solid 1px;
}

.scoreboard-test-1 {
    border: #FFA500 1px solid;
    height: 340px;
    width: 40%;
    background-color: rgb(34, 14, 90);
    border-radius: 50px;
}

.scoreboard-test-1 div h2{
    margin-left: 20px;
    color: white;
}

.hijo-scoreboard-test-1{
    width: 100%;
    display: flex;
    justify-content: center;
    border: yellow 1px solid;
}

.nieto-scoreboard-test-1{
    width: 80%;
    background-color: grey;
    border-radius: 20px;
    height: 180px;
}

.nieto-scoreboard-test-1 h3,label,input{
    margin-left: 20px;
}

.nieto-scoreboard-test-1 label{
    font-weight: 700;
}



/*      FOOTER SIDE CONTENT     */
.final-score {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 98%;
    border: red 1px solid;
    display: flex;
    justify-content: center;
}
.caja-principal-final-scrore{
    margin: 5px 5px;
    background-color: #FFA500;
    width: 70%;
    border-radius: 50px;
}

.caja-canica-barra{
    display: flex;
    justify-content: flex-end;
    border:green 1px solid;
    height: 100%;
    position: relative;
}

.caja-footer-canica{
    border: blue 1px solid;
    width: 20%;
    position: absolute;
    left: 0;
}

.caja-footer-canica img{
    border-radius: 50px;
}

.padre-progress-bar{
    border: 1px solid purple;
    width: 80%;
}

.progress-bar {
    background-color: #e0e0e0;
    width: 80%;
    border-radius: 5px;
    height: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    
    margin-left: 50px;
}

.progress {
    background-color: #4caf50;
    height: 100%;
}

/*          GRUPOS-MAIN-CONTENT         */
.main-content-grupos{
    background-image: url('../img/pizarron.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}


.contenedor-caja-cero{
    width: 100%;
    border: pink 2px solid;
}

.caja-cero{
    width: 20%;
    border: solid 2px yellow;
    display: flex;
    background: grey;
}

a.caja-contenedor-grupos{
    width: 100%;
    text-decoration: none;
    color: white;
}

.caja-cero h2{
    width: 100%;
    border: #4caf50 solid 1px;
    text-align: center;
}

section.grupos-main-principal{
    width: 100%;
    height: 75%;
    border: solid black 2px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 15px;
}


section.grupos-main-principal .cajas-grupos{
    width: 20%;
    height: 15%;
    border: solid 2px yellow;
    background: grey;
}

section.grupos-main-principal .cajas-grupos h2{
    text-align: center;
}

/*      Alumnos Main Content        */

.main-content-alumnos{
    background-image: url('../img/pizarron.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.alumnos-main-principal{
    width: 100%;
    height: 75%;
    border: solid black 2px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cajas-alumnos-botones{
    border: #FFA500 1px solid;
    display: flex;
    margin-top: 20px;
}

.cajas-alumnos{
    border: 2px green solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
}

.caja-contenedor-alumnos{
    color: white;
    text-decoration: none;
    background-color: grey;
    border: none;
    border-radius: 50px;
}

.boton-verde{
    width: 50px;
    height: 50px;
    background-color: #4caf50;
    border-radius: 50%;
    cursor: pointer;
}
.boton-rojo{
    width: 50px;
    height: 50px;
    background-color: #f10202;
    border-radius: 50%;
}


.no-mostrar{
    display: none;
}

.caja-modal{
    border: 2px solid pink;
    width: 20vh;
    background-color: #4caf50;
    max-height: 85px; /* Limita la altura del contenedor */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}


.caja-modal div {
    border: blue 1px solid;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.caja-modal button{    
    background-color: aquamarine;
    border-radius: 50px;
    border: 1px solid black;
    color: black;
    font-weight: 800;
}



.elegir-grupo{
    color: white;
}

/*   GRUPOS 1,2,3,4,5,6   */

.main-content-alumno-x{
    background-image: url('../img/pizarron.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.alumno-contenedor {
    margin-bottom: 20px; /*espacio entre cada div que aparece en los grupos*/
}